This is a small example of how to wrangle data.

In [1]:
import pandas as pd
import matplotlib as plt

%matplotlib inline

In [2]:
ls -lrt *.csv

-rw-r--r--@ 1 purnima  staff    350610 May  8 14:04 ucdp-prio-acd-4-2016 (1).csv
-rw-r--r--@ 1 purnima  staff    118484 May  8 14:04 ucdp-nonstate-25-2016.csv
-rw-r--r--@ 1 purnima  staff    172719 May  8 14:04 ucdp-brd-conf-50-2016.csv
-rw-r--r--  1 purnima  staff     58872 May  8 14:04 ucdp-onesided-14-2016.csv
-rw-r--r--  1 purnima  staff     24510 May 13 19:18 MApbattleDeaths.csv
-rw-r--r--  1 purnima  staff     40317 May 14 14:47 help4.csv
-rw-r--r--@ 1 purnima  staff     40920 May 15 17:26 COWofwar.csv
-rw-r--r--  1 purnima  staff     65810 May 20 17:11 MApbattleDeaths_new.csv
-rw-r--r--  1 purnima  staff      9881 May 22 14:18 Global peace index - Sheet1.csv
-rw-r--r--  1 purnima  staff     17013 May 22 14:30 GlobalPeaceIndex_new.csv
-rw-r--r--  1 purnima  staff  20891524 May 24 12:33 globalterrorismdb_0616dist-Purnima.csv
-rw-r--r--  1 purnima  staff     16705 May 24 18:40 GPI_growth.csv

In [3]:
file1 = pd.read_csv('COWofwar.csv')
file1.head()

   Year                                    War Name      War Type & Number
0   1816      Allied Bombardment of Algiers of 1816   Extra-State War #300
1   1816        Ottoman-Wahhabi Revolt of 1816-1818   Extra-State War #301
2   1817           Liberation of Chile of 1817-1818   Extra-State War #302
3   1817      First Bolivar Expedition of 1817-1819   Extra-State War #303
4   1817   War of Mexican Independence of 1817-1818   Extra-State War #304

In [4]:
file1.rename(columns={"War Type & Number ":"TEST"}, inplace=True)

file1.head()

   Year                                    War Name                    TEST
0   1816      Allied Bombardment of Algiers of 1816   Extra-State War #300
1   1816        Ottoman-Wahhabi Revolt of 1816-1818   Extra-State War #301
2   1817           Liberation of Chile of 1817-1818   Extra-State War #302
3   1817      First Bolivar Expedition of 1817-1819   Extra-State War #303
4   1817   War of Mexican Independence of 1817-1818   Extra-State War #304

In [5]:
file1['Col1'], file1['col2']= zip(*file1['TEST'].map(lambda x: x.split('#')))
file1.head()

,Year,War Name,TEST,Col1,col2
0,1816,Allied Bombardment of Algiers of 1816,Extra-State War #300,Extra-State War,300
1,1816,Ottoman-Wahhabi Revolt of 1816-1818,Extra-State War #301,Extra-State War,301
2,1817,Liberation of Chile of 1817-1818,Extra-State War #302,Extra-State War,302
3,1817,First Bolivar Expedition of 1817-1819,Extra-State War #303,Extra-State War,303
4,1817,War of Mexican Independence of 1817-1818,Extra-State War #304,Extra-State War,304

In [6]:
file1.head()

,Year,War Name,TEST,Col1,col2
0,1816,Allied Bombardment of Algiers of 1816,Extra-State War #300,Extra-State War,300
1,1816,Ottoman-Wahhabi Revolt of 1816-1818,Extra-State War #301,Extra-State War,301
2,1817,Liberation of Chile of 1817-1818,Extra-State War #302,Extra-State War,302
3,1817,First Bolivar Expedition of 1817-1819,Extra-State War #303,Extra-State War,303
4,1817,War of Mexican Independence of 1817-1818,Extra-State War #304,Extra-State War,304

In [7]:
file2=file1.rename(columns={'Col1': 'Type of war', 'TEST': 'War_id'}, inplace=False)
file2.head()

,Year,War Name,War_id,Type of war,col2
0,1816,Allied Bombardment of Algiers of 1816,Extra-State War #300,Extra-State War,300
1,1816,Ottoman-Wahhabi Revolt of 1816-1818,Extra-State War #301,Extra-State War,301
2,1817,Liberation of Chile of 1817-1818,Extra-State War #302,Extra-State War,302
3,1817,First Bolivar Expedition of 1817-1819,Extra-State War #303,Extra-State War,303
4,1817,War of Mexican Independence of 1817-1818,Extra-State War #304,Extra-State War,304

In [8]:
file2.usecols= [0,1,2,3,4]

In [9]:
file2.head()

,Year,War Name,War_id,Type of war,col2
0,1816,Allied Bombardment of Algiers of 1816,Extra-State War #300,Extra-State War,300
1,1816,Ottoman-Wahhabi Revolt of 1816-1818,Extra-State War #301,Extra-State War,301
2,1817,Liberation of Chile of 1817-1818,Extra-State War #302,Extra-State War,302
3,1817,First Bolivar Expedition of 1817-1819,Extra-State War #303,Extra-State War,303
4,1817,War of Mexican Independence of 1817-1818,Extra-State War #304,Extra-State War,304

In [10]:
file3=file2.drop('col2',axis=1)
file3.head()

,Year,War Name,War_id,Type of war
0,1816,Allied Bombardment of Algiers of 1816,Extra-State War #300,Extra-State War
1,1816,Ottoman-Wahhabi Revolt of 1816-1818,Extra-State War #301,Extra-State War
2,1817,Liberation of Chile of 1817-1818,Extra-State War #302,Extra-State War
3,1817,First Bolivar Expedition of 1817-1819,Extra-State War #303,Extra-State War
4,1817,War of Mexican Independence of 1817-1818,Extra-State War #304,Extra-State War

In [11]:
file3.to_csv('COWOfWar_new.csv', sep= ';')