This is a small example of how to wrangle data.

In [1]:
import pandas as pd
import matplotlib as plt

%matplotlib inline

In [3]:
ls -lrt *.csv

-rw-r--r--@ 1 purnima  staff    350610 May  8 14:04 ucdp-prio-acd-4-2016 (1).csv
-rw-r--r--@ 1 purnima  staff    118484 May  8 14:04 ucdp-nonstate-25-2016.csv
-rw-r--r--@ 1 purnima  staff    172719 May  8 14:04 ucdp-brd-conf-50-2016.csv
-rw-r--r--  1 purnima  staff     58872 May  8 14:04 ucdp-onesided-14-2016.csv
-rw-r--r--  1 purnima  staff     24510 May 13 19:18 MApbattleDeaths.csv
-rw-r--r--  1 purnima  staff     40317 May 14 14:47 help4.csv
-rw-r--r--@ 1 purnima  staff     40920 May 15 17:26 COWofwar.csv
-rw-r--r--  1 purnima  staff     65810 May 20 17:11 MApbattleDeaths_new.csv
-rw-r--r--  1 purnima  staff      9881 May 22 14:18 Global peace index - Sheet1.csv
-rw-r--r--  1 purnima  staff     17013 May 22 14:30 GlobalPeaceIndex_new.csv
-rw-r--r--  1 purnima  staff  20891524 May 24 12:33 globalterrorismdb_0616dist-Purnima.csv

In [6]:
New = pd.read_csv('Global peace index - Sheet1.csv')
New.head()

,country,score_2008,score_2009,score_2010,score_2011,score_2012,score_2013,score_2014,score_2015,score_2016
0,Iceland,1.107,1.203,1.212,1.148,1.113,1.162,1.189,1.148,1.192
1,Denmark,1.238,1.263,1.341,1.289,1.239,1.207,1.193,1.150,1.246
2,Austria,1.291,1.240,1.290,1.337,1.328,1.250,1.200,1.198,1.278
3,New Zealand,1.190,1.227,1.188,1.279,1.239,1.237,1.236,1.221,1.287
4,Portugal,1.385,1.426,1.366,1.453,1.470,1.467,1.425,1.344,1.356

In [10]:
New["growth_rate"] = ((New["score_2016"] - New["score_2008"])/New["score_2008"])*100

In [11]:
New.head(5)

,country,score_2008,score_2009,score_2010,score_2011,score_2012,score_2013,score_2014,score_2015,score_2016,growth_rate
0,Iceland,1.107,1.203,1.212,1.148,1.113,1.162,1.189,1.148,1.192,7.678410
1,Denmark,1.238,1.263,1.341,1.289,1.239,1.207,1.193,1.150,1.246,0.646204
2,Austria,1.291,1.240,1.290,1.337,1.328,1.250,1.200,1.198,1.278,-1.006971
3,New Zealand,1.190,1.227,1.188,1.279,1.239,1.237,1.236,1.221,1.287,8.151261
4,Portugal,1.385,1.426,1.366,1.453,1.470,1.467,1.425,1.344,1.356,-2.093863

In [13]:
New.to_csv('GPI_growth.csv', sep= ';')