This is a small example of how to wrangle data.

In [37]:
import pandas as pd
import matplotlib as plt

%matplotlib inline

In [38]:
ls -lrt *.csv

-rw-r--r--@ 1 purnima  staff  350610 May  8 14:04 ucdp-prio-acd-4-2016 (1).csv
-rw-r--r--@ 1 purnima  staff  118484 May  8 14:04 ucdp-nonstate-25-2016.csv
-rw-r--r--@ 1 purnima  staff  172719 May  8 14:04 ucdp-brd-conf-50-2016.csv
-rw-r--r--  1 purnima  staff   58872 May  8 14:04 ucdp-onesided-14-2016.csv
-rw-r--r--  1 purnima  staff   24510 May 13 19:18 MApbattleDeaths.csv
-rw-r--r--  1 purnima  staff   40977 May 14 02:36 COWwarlist.csv

In [39]:
file1 = pd.read_csv('ucdp-brd-conf-50-2016.csv')
file1.head()

,ConflictID,DyadID,Year,LocationInc,SideA,SideA2nd,SideB,SideBID,SideB2nd,Incompatibility,...,TypeOfConflict,BattleLocation,GWNoA,GWNoA2nd,GwNoB,GWNoB2nd,GWNoLoc,GWNoBattle,Region,Version
0,6,260,1993,Iran,Government of Iran,NaN,KDPI,1005,NaN,1,...,3,"Iran, Iraq",630,NaN,NaN,NaN,630,"630, 645",2,5
1,6,260,1996,Iran,Government of Iran,NaN,KDPI,1005,NaN,1,...,3,"Iran, Iraq",630,NaN,NaN,NaN,630,"630, 645",2,5
2,6,260,1990,Iran,Government of Iran,NaN,KDPI,1005,NaN,1,...,3,Iran,630,NaN,NaN,NaN,630,630,2,5
3,10,"217, 220",1989,Philippines,Government of Philippines,NaN,"CPP, Military faction (forces of Honasan, Aben...","1010, 1011",NaN,2,...,3,Philippines,840,NaN,NaN,NaN,840,840,3,5
4,10,"217, 220",1990,Philippines,Government of Philippines,NaN,"CPP, Military faction (forces of Honasan, Aben...","1010, 1011",NaN,2,...,3,Philippines,840,NaN,NaN,NaN,840,840,3,5

In [31]:
battleDeaths = pd.read_csv(filepath_or_buffer='ucdp-brd-conf-50-2016.csv', usecols= [2,3,13])
battleDeaths.head(100)

    Year          LocationInc  BdHigh
0   1993                 Iran     110
1   1996                 Iran      29
2   1990                 Iran     335
3   1989          Philippines     885
4   1990          Philippines    1174
5   1991          Philippines    1933
6   1992          Philippines     454
7   1993          Philippines     114
8   1994          Philippines      73
9   1995          Philippines      41
10  1997          Philippines      32
11  1999          Philippines      98
12  2000          Philippines     140
13  2001          Philippines     299
14  2002          Philippines     291
15  2003          Philippines     236
16  2004          Philippines     344
17  2005          Philippines     243
18  2006          Philippines    1018
19  2007          Philippines    1077
20  2008          Philippines     217
21  2009          Philippines     400
22  2010          Philippines     352
23  2011          Philippines     210
24  2012          Philippines     193
25  2013          Philippines     170
26  2014          Philippines     199
27  2015          Philippines     173
28  1989      India, Pakistan      25
29  1990      India, Pakistan      25
..   ...                  ...     ...
70  1996      Myanmar (Burma)      80
71  1990      Myanmar (Burma)     112
72  1991                India      78
73  1992                India     502
74  1993                India     193
75  1994                India      68
76  1996                India     173
77  1997                India      85
78  1998                India     111
79  1999                India     130
80  2000                India     201
81  2001                India     173
82  2002                India     189
83  2003                India      66
84  2004                India     102
85  2005                India     241
86  2006                India     607
87  2007                India     402
88  2008                India     432
89  2009                India     654
90  2010                India     665
91  2011                India     342
92  2012                India     274
93  2013                India     231
94  2014                India     242
95  2015                India     199
96  2009  Yemen (North Yemen)     103
97  2010  Yemen (North Yemen)     244
98  2011  Yemen (North Yemen)    1195
99  2012  Yemen (North Yemen)    2415

[100 rows x 3 columns]

In [35]:
battleDeaths.to_csv('MApbattleDeaths.csv', sep= ';')

AttributeError: 'NoneType' object has no attribute 'head'